.logo {
  font-size: 3.5rem;
  letter-spacing: 16px;
  font-weight: 600;
  background: linear-gradient(#0857ac, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: relative;
}
.logo::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(180deg);
  line-height: 1.04em;
  transform-origin: bottom;
  background: linear-gradient(0deg, #fff 0, transparent 40%);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.5;
}
.logo-footer {
  word-spacing: 15px;
  font-size: 1.1rem;
}
